<!--
  Generated template for the PlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lokasi-KU</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onDismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>

</ion-header>


<ion-content>
	<agm-map [latitude]="lat" [longitude]="lng">
	  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
	</agm-map>

</ion-content>
