<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button (click)="Gmaps()"><ion-icon name="ios-navigate"></ion-icon></button>
    </ion-buttons> 
    <ion-title>
      MAP
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="onNewLokasi()"><ion-icon name="md-add"></ion-icon>Add</button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
    <ion-item-sliding *ngFor="let data of lokasi">
  		<ion-item (click)="openPlace(data)">
  			{{data.title}}
  		</ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="actionShare(data)">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
	</ion-list>
</ion-content>
