<!--
  Generated template for the LokasiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lokasi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form (ngSubmit)="onAddLokasi(f.value)" #f="ngForm">
		<ion-item>
			<ion-label floating color="primary">Enter location</ion-label>
			<ion-input type="text" name="title" ngModel required></ion-input>
		</ion-item>
		<button ion-button full type="submit" [disabled]="!f.valid">Enter</button>
	</form>
	<ion-grid>
		<ion-row>
			<ion-col>
				<button ion-button full (click)="onLokasiUser()">Locate me</button>
			</ion-col>
		</ion-row>
	</ion-grid>
<!-- 	<agm-map [latitude]="lat" [longitude]="lng">
	  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
	</agm-map> -->
</ion-content>
