<!--
  Generated template for the GmapsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-buttons start>
      <button ion-button (click)="Home()">
      	<ion-icon name="ios-locate-outline"></ion-icon>
      </button>
    </ion-buttons> 
    <ion-title>Google Maps</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
	<div #map id="map"></div>
</ion-content>
